In [1]:
import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
DATA_FOLDER = 'c:/Users/gasati/Documents/personal/coursera/competitive-data-science-predict-future-sales(1)/'

transactions    = pd.read_csv(os.path.join(DATA_FOLDER, 'sales_train.csv.gz'))
items           = pd.read_csv(os.path.join(DATA_FOLDER, 'items.csv'))
item_categories = pd.read_csv(os.path.join(DATA_FOLDER, 'item_categories.csv'))
shops           = pd.read_csv(os.path.join(DATA_FOLDER, 'shops.csv'))

In [3]:
transactions.head()

         date  date_block_num  shop_id  item_id  item_price  item_cnt_day
0  02.01.2013               0       59    22154      999.00           1.0
1  03.01.2013               0       25     2552      899.00           1.0
2  05.01.2013               0       25     2552      899.00          -1.0
3  06.01.2013               0       25     2554     1709.05           1.0
4  15.01.2013               0       25     2555     1099.00           1.0

In [4]:
##transactions['date']= pd.to_datetime(transactions['date'], format='%d.%m.%Y')
##transactions['revenue'] = transactions['item_price'] * transactions['item_cnt_day']
##transactions_result = transactions.loc[(transactions['date'].dt.year == 2014) & (transactions['date'].dt.month == 9 )]

##max_revenue = transactions_result.groupby('shop_id')['revenue'].sum().max()
##max_revenue

In [5]:
transactions['date_time'] = pd.to_datetime(transactions['date'])

In [6]:
transactions['date_year'] = pd.DatetimeIndex(transactions['date_time']).year
transactions['date_month'] = pd.DatetimeIndex(transactions['date_time']).month
transactions['date_day'] = pd.DatetimeIndex(transactions['date_time']).day

In [7]:
#transactions['date']= pd.to_datetime(transactions['date'], format='%d.%m.%Y')

In [8]:
transactions['total_sales'] = transactions['item_price'] * transactions['item_cnt_day']

In [9]:
#transactions[(transactions['date'].dt.year == 2014) & (transactions['date'].dt.month == 9)].groupby('shop_id').sum().max()
transactions[(transactions['date_year'] == 2014) & (transactions['date_month'] == 9)].groupby('shop_id').sum().max()

date_block_num    1.142460e+05
item_id           6.618869e+07
item_price        5.038248e+06
item_cnt_day      8.381000e+03
date_year         1.218269e+07
date_month        5.444100e+04
date_day          9.082500e+04
total_sales       7.785688e+06
dtype: float64

In [10]:
trans = pd.merge(transactions, items, how='left', on='item_id')
trans = trans[(trans['date_year'] == 2014) & ((trans['date_month'] == 6) |(trans['date_month'] == 7) |(trans['date_month'] == 8))]
trans.shape

(257098, 13)

In [11]:
trans['item_category_id'].iloc[trans.groupby('item_category_id')['total_sales'].sum().idxmax()]

40

In [12]:
(transactions['item_price'].groupby(transactions['item_id']).nunique() == 1).sum()

5926

In [13]:
toatal_items = transactions[(transactions['shop_id'] == 25) & (transactions['date_year'] == 2014) & (transactions['date_month'] == 12)].groupby('date_day')['item_cnt_day'].sum()

In [14]:
toatal_items.var()

119526.57586206897

TypeError: to_datetime() missing 1 required positional argument: 'arg'